* {
    margin: 0;
    padding: 0;
}

.root {
    font-family: serif;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 2% 16% 2% 16%;
}

.title {
    font-family: sans-serif;
    font-size: 4rem;
    color: #a3c428;
    text-align: center;
}

.infos {
    font-family: sans-serif;
    text-align: center;
    line-height: 2rem;
}

.infos > *:not(:last-child) {
    margin-right: .5rem;
}

.infos > .avatar {
    display: inline;
    width: 48px;
    border-radius: 50%;
    vertical-align: middle;
}

.infos > .name {
    font-weight: 600;
}

.infos > .readotron {
    font-weight: 600;
    color: #0075ff;
}

.infos > .refresh {
    padding: .3rem
}

.separator {
    background: none;
    border: none;
    border-top: 4px #a3c428 dotted;
    width: 3rem;
    align-self: center;
    margin: 1rem;
}

.text {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.error {
    color: red;
    text-align: center;
}